In [7]:
import yfinance as yf

msft = yf.Ticker("UI")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="1mo")

# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
df = msft.get_shares_full(start="2024-01-01", end=None)

In [18]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-06-11 00:00:00-04:00,142.690002,146.029999,141.729996,146.000000,52100,0.0,0.0
2024-06-12 00:00:00-04:00,150.270004,151.500000,145.130005,146.570007,59500,0.0,0.0
2024-06-13 00:00:00-04:00,145.899994,146.360001,143.020004,146.119995,47100,0.0,0.0
2024-06-14 00:00:00-04:00,144.580002,144.580002,141.759995,143.649994,37300,0.0,0.0
2024-06-17 00:00:00-04:00,142.800003,146.630005,142.720001,146.440002,49200,0.0,0.0
2024-06-18 00:00:00-04:00,146.789993,147.580002,143.910004,144.830002,59600,0.0,0.0
2024-06-20 00:00:00-04:00,143.350006,144.940002,139.479996,140.070007,66700,0.0,0.0
2024-06-21 00:00:00-04:00,140.350006,143.490005,139.059998,143.490005,64300,0.0,0.0
2024-06-24 00:00:00-04:00,144.000000,145.500000,141.279999,141.740005,49700,0.0,0.0
2024-06-25 00:00:00-04:00,141.309998,143.479996,140.259995,142.759995,39100,0.0,0.0
2024-06-26 00:00:00-04:00,141.580002,144.190002,141.580002,143.830002,32900,0.0,0.0
2024-06-27 00:00:00-04:00,143.979996,146.419998,143.229996,143.330002,50400,0.0,0.0
2024-06-28 00:00:00-04:00,143.309998,145.960007,142.460007,145.660004,112900,0.0,0.0
2024-07-01 00:00:00-04:00,146.000000,148.699997,145.779999,147.279999,46700,0.0,0.0
2024-07-02 00:00:00-04:00,147.809998,149.110001,147.360001,148.509995,40300,0.0,0.0
2024-07-03 00:00:00-04:00,149.190002,149.669998,147.529999,148.190002,20700,0.0,0.0
2024-07-05 00:00:00-04:00,147.570007,147.889999,145.350006,147.130005,39400,0.0,0.0
2024-07-08 00:00:00-04:00,147.479996,153.100006,147.479996,151.449997,94200,0.0,0.0
2024-07-09 00:00:00-04:00,151.529999,151.929993,148.550003,151.770004,66700,0.0,0.0
2024-07-10 00:00:00-04:00,151.570007,152.580002,149.449997,151.529999,45700,0.0,0.0
2024-07-11 00:00:00-04:00,153.490005,162.550003,154.710007,159.990005,56429,0.0,0.0

In [19]:
data = yf.download("UI", start="2021-01-01", end="2024-07-11")

[*********************100%%**********************]  1 of 1 completed

In [21]:
data2 = yf.download("UI", start="2021-01-01", end="2024-07-11", group_by='ticker')

                  Open        High         Low       Close   Adj Close  Volume
Date
2021-01-04  277.630005  277.630005  265.730011  270.760010  270.760010  135000
2021-01-05  271.739990  279.950012  270.239990  278.000000  278.000000   98800
2021-01-06  273.799988  276.579987  266.109985  267.750000  267.750000  122500
2021-01-07  267.940002  271.820007  255.279999  257.609985  257.609985  164000
2021-01-08  258.000000  262.209991  252.500000  257.000000  257.000000  121600
...                ...         ...         ...         ...         ...     ...
2024-07-03  149.190002  149.669998  147.529999  148.190002  148.190002   20700
2024-07-05  147.570007  147.889999  145.350006  147.130005  147.130005   39400
2024-07-08  147.479996  153.100006  147.479996  151.449997  151.449997   94200
2024-07-09  151.529999  151.929993  148.550003  151.770004  151.770004   66700
2024-07-10  151.570007  152.580002  149.449997  151.529999  151.529999   45700

[884 rows x 6 columns]

In [22]:
import pandas as pd

# Read the NASDAQ-listed tickers
nasdaq_df = pd.read_csv('ftp://ftp.nasdaqtrader.com/SymbolDirectory/nasdaqlisted.txt', sep='|')
nasdaq_tickers = nasdaq_df['Symbol'].tolist()

In [25]:
nasdaq_df.count()

Symbol              4832
Security Name       4832
Market Category     4832
Test Issue          4832
Financial Status    4832
Round Lot Size      4832
ETF                 4824
NextShares          4832
dtype: int64

In [34]:
from pytickersymbols import PyTickerSymbols

stock_data = PyTickerSymbols()
us_stocks = stock_data.get_stocks_by_country("United States")
# Filter for NYSE stocks (not all US stocks are on NYSE)
nyse_stocks = [stock for stock in us_stocks if stock.get('exchange') == 'NYSE']

In [39]:
import yfinance as yf

tickers_nyse = yf.Ticker("^NYA")
# nyse_stocks = tickers_nyse.info['constituents']

tickers_sp500 = yf.Ticker("^GSPC")
# sp500_stocks = tickers_sp500.info['constituents']

# all_stocks = list(set(nyse_stocks + sp500_stocks))  # Combine and remove duplicates
# all_stocks

In [41]:
tickers_nyse.info

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 18215.184,
 'open': 18215.2,
 'dayLow': 18215.184,
 'dayHigh': 18386.482,
 'regularMarketPreviousClose': 18215.184,
 'regularMarketOpen': 18215.2,
 'regularMarketDayLow': 18215.184,
 'regularMarketDayHigh': 18386.482,
 'averageVolume': 3839607540,
 'averageVolume10days': 3635862000,
 'averageDailyVolume10Day': 3635862000,
 'fiftyTwoWeekLow': 14638.37,
 'fiftyTwoWeekHigh': 18421.92,
 'fiftyDayAverage': 18026.717,
 'twoHundredDayAverage': 17008.94,
 'currency': 'USD',
 'exchange': 'NYS',
 'quoteType': 'INDEX',
 'symbol': '^NYA',
 'underlyingSymbol': '^NYA',
 'shortName': 'NYSE COMPOSITE (DJ)',
 'longName': 'NYSE COMPOSITE (DJ)',
 'firstTradeDateEpochUtc': -126264600,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'fdb11ba4-cc9f-3f2b-a604-fa5ddda10da5',
 'messageBoardId': 'finmb_INDEXNYA',
 'gmtOffSetMilliseconds': -14400000,
 'trailingPegRatio': None}

AttributeError: module 'pandas.compat' has no attribute 'StringIO'